# Bazel downloader configuration
#
# Documentation: https://bazel.build/versions/8.5.0/reference/command-line-reference#flag--downloader_config
#
# This file configures URL rewriting and blocking for Bazel's downloader.
#
# Following article provides a nice overview of Bazel's downloader features and
# an example of configuration with a mix of allow/rewrite/block rules.

# Block Go SDK DL endpoints to test that rules_go sdks attribute works correctly 
# behind a caching proxy (Artifactory or similar) where these endpoints may be 
# unavailable or in case of Artifactory incorrectly handled. See comments here:
# https://github.com/bazel-contrib/rules_go/blob/master/go/private/sdk.bzl#L586
#rewrite go.dev/(.*) invalid.invalid/$1
#rewrite golang.google.cn/(.*) invalid.invalid/$1